.header__inner {
    margin: 0 auto;
    padding: 3px;
    text-align: center;
    border-top: none;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    max-width: 1000px;
}
    .admin__content {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    padding: 3px;
}

.admin__content-heading {
    font-family: serif;
    text-align: center;
    color: #996633;
    padding: 15px;
    margin-bottom: -30px;
}
.admin__content-form {

}
.admin__content-form__index {
    margin-top:30px;
}
.admin__content-form__name {
    margin-right: 20px;
    width:300px;
    height: 30px;
    border: 1px solid #525151;
    background:#ddd;
}
.admin__content-form__gender {
    margin-right: 20px;
    height: 30px;
    border: 1px solid #525151;
    background: #ddd;
}
.admin__content-form__detail {
    margin-right: 20px;
    width:150;
    height: 30px;
    border: 1px solid #525151;
    background: #ddd;
}
.admin__content-form__date {
    margin-right: 20px;
    width: 100;
    height: 30px;
    border: 1px solid #525151;
    background: #ddd;
}
.admin__content-export {
    margin-top: 20px;
}
.admin__content-export button{
    border:none;
    padding:3px 10px;
    color:#996633
}
.admin__content-list {
    margin-top: 30px;
}
.admin__content-list__detail{
    background:#996633;
    width: 1000px;

}
.admin__content-table__header {
    color: #fff;
    padding-left: 0 10px 30px;
    text-align: center;
}
.admin__content-table__detail{
    
}